<!doctype HTML>
<html>
    <head>
        <title>{{title}}</title>
            <style>
            .error {
                color: blue;
            }
            </style>
    </head>
    <div>
        <a href='/blog'>Read All Blog Entries</a> | <a href='/newpost'>Create a New Post</a> | <a href='/login'>Log In</a> | <a href='/logout'>Log Out</a>
        <p>
    </div>
    <body>
 
        {% block content%}
        {% endblock %}

        <ul>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category,message in messages %}
               <li class="{{category}}">{{message}}</li>
            {% endfor %}
        {% endwith %}
        </ul>
       
    </body>

    </div> 

    <div>
    <a href='/blog'>Read All Blog Entries</a> | <a href='/newpost'>Create a New Post</a> | <a href='/login'>Log In</a> | <a href='/logout'>Log Out</a>
    </div>
    
    </html>


    