{% extends "base.html" %}

{%block content %}
<h1>Signup for a blog!</h1>
<form action="/signup" method="post">
            <p>
                <label for="username">Username:</label>
                <input name="username" type="test" value='{{username}}'>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" value='{{password}}'>
            <p>
                <label for="verify">Verfiy Password:</label>
                <input type="password" name="verify" value='{{password2}}'>
            <p>

            <input type="submit" value="Register"/>
</form>

{% endblock %}